In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("day1_data.csv")
df

      Name   Age   Salary Department
0     John  25.0  50000.0         IT
1      NaN  30.0  60000.0         HR
2    Alice  21.0 -45000.0    Finance
3      Bob  28.0      NaN         IT
4      Eve   NaN  55000.0         HR
5  Charlie  35.0  65000.0    Finance
6    Alice  31.0  30000.0         IT

Functional Pipeline

In [4]:
#Defining Functions
def load_data(file_path):
    return pd.read_csv(file_path)

def convert_numeric(df, cols):
    """Convert the given columns into numeric data. """
    for col in cols:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    return df

def fill_missing(df):
    for col in df.columns:
        if df[col].dtype in ["float64", "int64"]:
            df[col] = df[col].fillna(df[col].mean())
        else:
            df[col] = df[col].fillna(df[col].mode()[0])
    return df

def remove_invalid_salary(df):
    filt = df["Salary"] >= 0
    return df[filt]

def save_data(df, file_path):
    df.to_csv(file_path, index=False)

In [6]:
df=(
   load_data("day1_data.csv")  #Load the data in df  
   .pipe(convert_numeric, ["Age", "Salary"]) #.pipe(function_name, parameter(one or more parameters))
   .pipe(fill_missing) #Replaces the null values
   .pipe(remove_invalid_salary) #Remove -ve salaries
)

In [7]:
df

      Name        Age        Salary Department
0     John  25.000000  50000.000000         IT
1    Alice  30.000000  60000.000000         HR
3      Bob  28.000000  35833.333333         IT
4      Eve  28.333333  55000.000000         HR
5  Charlie  35.000000  65000.000000    Finance
6    Alice  31.000000  30000.000000         IT

In [8]:
save_data(df, "cleaned_day1_data.csv")  #Save the cleaned data